{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="flex justify-end">
        {%  include 'components/navbar.html.twig' %}
    </div>



{% endblock %}
